<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>

    </style>
    <link href="/static/conf/button.css" type="text/css" rel="stylesheet">
    <link href="/static/conf/annotation.css" type="text/css" rel="stylesheet">
    <!-- global variables: current task id, current query -->
    <script type="text/javascript">
        currentTaskID = "{{ taskid }}";
        currentQuery = "{{ query }}"
   </script>
   	<script type="text/javascript" src="/static/conf/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/conf/jquery-min.js"></script>
	<script type="text/javascript" src="/static/conf/wc_preprocess.js"></script>
	<script type="text/javascript" src="/static/conf/jquery.bgpos.js"></script>
	<script type="text/javascript" src="/static/conf/jquery.reveal.js"></script>
	<script type="text/javascript" src="/static/conf/jquery.raty.js"></script>
	<script type="text/javascript" src="/static/conf/jquery.raty.min.js"></script>
    <script type="text/javascript" src="/static/conf/anno_log.js"></script>
</head>
<body>

<div class="annotation_header">
    <h1 align="center">搜索结果反馈</h1>
    <p style="color: blue; font-size:14pt">当前话题：{{ topic }}</p>
    <p style="color: blue; font-size:14pt">当前查询：{{ query }}</p>
    <p style="color: blue; font-size:14pt">当前任务描述：{{ content }}</p>
    <p style="color: orangered; font-size:14pt">说明：请针对当前的搜索结果，标注您在根据该结果页面完成任务时的感觉
    </p>
    <div>
        <p style="font-size:14pt">1、你认为刚刚展示的搜索结果页的质量非常高（搜索结果对于你完成任务、回答问题非常有用，很容易找到答案），是吗？
        <form name="question1" id="question1">
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Quality" id="quality1" value="1"> 强烈反对
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Quality" id="quality2" value="2"> 反对
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Quality" id="quality3" value="3"> 有点反对
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Quality" id="quality4" value="4"> 说不清（既不赞同也不反对）
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Quality" id="quality5" value="5"> 有点赞同
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Quality" id="quality6" value="6"> 赞同
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Quality" id="quality7" value="7"> 非常赞同
                </label>
            </div>
        </form>
        </p>

        <p style="font-size:14pt">2、你觉得刚完成的查询任务有多难（你顺利并且轻松地找到了满意的答案吗）？
        <form name="question2" id="question2">
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Difficult" id="difficult1" value="1"> 非常容易
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Difficult" id="difficult2" value="2"> 比较容易
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Difficult" id="difficult3" value="3"> 有点容易
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Difficult" id="difficult4" value="4"> 说不清
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Difficult" id="difficult5" value="5"> 有点难
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Difficult" id="difficult6" value="6"> 比较难
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Difficult" id="difficult7" value="7"> 非常难
                </label>
            </div>
        </form>
        </p>

        <p style="font-size:14pt">3、你在刚才完成任务的过程中，没有刻意去关注时间流逝，对吗？
        <form name="question3" id="question3">
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Feeltime" id="feeltime1" value="1"> 强烈反对
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Feeltime" id="feeltime2" value="2"> 反对
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Feeltime" id="feeltime3" value="3"> 有点反对
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Feeltime" id="feeltime4" value="4"> 说不清（既不赞同也不反对）
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Feeltime" id="feeltime5" value="5"> 有点赞同
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Feeltime" id="feeltime6" value="6"> 赞同
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Feeltime" id="feeltime7" value="7"> 非常赞同
                </label>
            </div>
        </form>
        </p>

        <p style="font-size:14pt">4、你在刚才完成任务的过程中，没有因为外界或自身原因产生一种“想要尽快完成任务”的紧迫感，对吗？
        <form name="question4" id="question4">
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Pressure" id="pressure1" value="1"> 强烈反对
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Pressure" id="pressure2" value="2"> 反对
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Pressure" id="pressure3" value="3"> 有点反对
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Pressure" id="pressure4" value="4"> 说不清（既不赞同也不反对）
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Pressure" id="pressure5" value="5"> 有点赞同
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Pressure" id="pressure6" value="6"> 赞同
                </label>
            </div>
            <div class="radio">
                <label style="padding-left:30px;">
                    <input type="radio" name="Pressure" id="pressure7" value="7"> 非常赞同
                </label>
            </div>
        </form>
        </p>

        <p style="font-size:14pt">5、请通过录音来完成以下问题:
        </br></br>
            <p style="font-size:16pt">&nbsp &nbsp &nbsp &nbsp{{ question }}</p>
        </p>
    </div>
</div>


 <button class="WCOverButton button blue close-reveal-modal"  type="Button" style="margin-left:200px" onclick="over_button_on_click();">提交反馈</button>

 <script>
    function getAnswer1(){
        form = document.getElementById("question1");
        //取得radio的值
        //TODO: make sure var familiar will not be null!
        var quality = null;
        for (var i=0; i<form.Quality.length; i++){
            if (form.Quality[i].checked){
                quality = form.Quality[i].value;
                break;
            }
        }
        return quality;
    }
    function getAnswer2(){
        form = document.getElementById("question2");
        //取得radio的值
        //TODO: make sure var familiar will not be null!
        var difficult = null;
        for (var i=0; i<form.Difficult.length; i++){
            if (form.Difficult[i].checked){
                difficult = form.Difficult[i].value;
                break;
            }
        }
        return difficult;
    }
    function getAnswer3(){
        form = document.getElementById("question3");
        //取得radio的值
        //TODO: make sure var familiar will not be null!
        var feeltime = null;
        for (var i=0; i<form.Feeltime.length; i++){
            if (form.Feeltime[i].checked){
                feeltime = form.Feeltime[i].value;
                break;
            }
        }
        return feeltime;
    }
    
    function getAnswer4(){
        form = document.getElementById("question4");
        //取得radio的值
        //TODO: make sure var familiar will not be null!
        var pressure = null;
        for (var i=0; i<form.Pressure.length; i++){
            if (form.Pressure[i].checked){
                pressure = form.Pressure[i].value;
                break;
            }
        }
        return pressure;
    }
</script>

</body>
</html>